/* header and nav layout */
header .nav-wrapper {
  /* background-color: var(--background-color); */
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  font-size: var(--heading-font-size-xs);
  text-transform: uppercase;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  background: transparent;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  color: var(--color-gold);
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  top: 2rem;
  position: absolute;
  z-index: ;
  justify-self: center;
}

header nav .nav-brand a {
  display: inline-block;
  background-image: url('/images/logo.png');
  background-size: 150px auto;
  background-repeat: no-repeat;
  width: 150px;
  height: 118px;
  font-size: 0;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  opacity: 0;
  translate:  0 -10vh;
  transition-property: overlay display opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
  height: 90vh;
  overflow: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #283048;
  translate:  0;
  border-top: 1px solid var(--color-gold);

  @starting-style {
    opacity: 0;
    translate:  0 -25vh;
  }
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav .nav-sections ul > li {
  font-family: var(--thin-font-family);
  font-size: var(--heading-font-size-xs);
  text-transform: uppercase;
  white-space: nowrap;
}

header nav .nav-sections a:hover,
header nav .nav-sections a:focus {
  color: var(--color-gold);
  text-decoration: none;
}

header nav .nav-sections ul li.has-children:after {
  content: '>';
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/*
* Navigation slide-in effect
*/
header nav .nav-sections .menu  {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0px;
  position: relative;
  top: 0;
  width: 33.333%;
  text-align: center;
}
header nav .nav-sections .menu.hide {
  opacity: 0 !important;
  visibility: hidden !important;
}
header nav .nav-sections .menu.one {
  padding: 0;
  transform: translateX(100%);
  transition: all .3s ease;
}

header nav .nav-sections .menu.one.slide-in {
  padding: 0 10px 0 0;
  transform: translateX(0);
}

header nav .nav-sections .menu.two {
  opacity: 0;
  transform: translateX(50%);
  transition: all .3s ease;
  visibility: hidden;
}


header nav .nav-sections .menu.two.slide-in {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

header nav .back a {
  position: relative;
}

header nav .back a:before {
  content: '<';
  position: absolute;
  left: -1rem;
  
}

header nav .nav-sections .menu.three {
  opacity: 0;
  transform: translateX(50%);
  transition: all .3s ease;
  visibility: hidden;
}
header nav .nav-sections .menu.three.slide-in {
  opacity: 1;
  transform: translateX(-100%);
  visibility: visible;
}
header nav .nav-sections .menu ul>li ul {
  display: none;
}