@font-face {
  font-family: Caveat-bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Caveat-Bold.woff') format('woff');
}

@font-face {
  font-family: Montserrat-thin;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Thin.woff') format('woff');
}

@font-face {
  font-family: Montserrat-regular;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: Montserrat-semibold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: Montserrat-bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: Montserrat-light;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Montserrat-Light.woff') format('woff');
}

